
.productname {
    font-size: calc(12px + 1vh);
    font-weight: bold;
}
.productimage {
    left: 0;
    top: 0;
    border: 2px solid black;
    width: calc(28vh - 20px);
    height: calc(28vh - 20px);
    margin-left: 0;
    border-radius: 5px;

}

.cardstock {
    text-align: center;
    width: 28vh;
    min-width: 250px;
    height: calc(40vh + 60px); /*width + name font size + price font size + addbutton height + margins*/
    /*min-height: 345px;*/
    border: 1px solid black;
    padding: 1vh;
    margin: 0 0 0 20px;
    background-color: #ebdd78;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px black;
            box-shadow: 2px 2px 2px black;

    font-size: calc(10px + 1vh);
}



.addButton {
    position: relative;
    height: 6vh;
    width: 6vh;

    background-color: #edb826;
    border-radius: 100%;
    border: 2px solid black;
    text-align: center;
    vertical-align: center;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    padding: auto;
    float: right;
    bottom: 0;

}

.addButton:hover {
    background-color: #ffde82;
}

.checkButton {
    position: relative;
    height: 6vh;
    width: 6vh;
    background-color: #37e615;
    border-radius: 100%;
    border: 2px solid black;
    text-align: center;
    vertical-align: center;
    color: black;
    font-size: calc(3.5vh + 5px);
    font-weight: bold;
    padding: auto;
    float: right;
    bottom: 0;
}

