/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.categoryName {
    display: block;
    padding: 1vh;
    font-size: calc(2vh);
    
    width: 100%;
    background-color: white;
    
}
.categoryName:hover {
    background-color: #edb826;
}

#categoryText {
    margin: 10px;
    font-weight: bold;
    font-size: 1.6vh;
    width: 100%;
}

#categorySpace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    background-color: #ffe8ba;
    width: 20vw;
    min-width: 150px;
    height: auto;
    vertical-align: top;
    border-width: 2px 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

}
