/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.categoryName {
    display: block;
    font-size: calc(2vh);
    height: calc(6vh - 8px);
    width: calc(13vh + 30px);
    background-color: white;
    border: 0.25vh solid black;

    
}
.categoryName:hover {
    background-color: #edb826;
}

#categoryText {
    margin: 10px;
    font-weight: bold;
    font-size: calc(2.5vh + 2px);
    width: 100%;
}

#categorySpace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    background-color: #ffe8ba;
    width: calc(13vh + 50px);
    height: auto;
    vertical-align: top;
    border-width: 0.25vh 0.15vh;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

}
