

#jobFormDiv {
    margin: auto;
    padding-top: 30px;
    text-align: center;
    width: 50vw;
    min-width: 350px;
    height: 130vh;
    min-height: 1300px;
    background-color: #ebdd78;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

#jobForm {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    
    -webkit-box-shadow: 2px 2px 2px;
            box-shadow: 2px 2px 2px;
    

}